@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body { background: white !important; }
  aside { display: none !important; }
  main { margin-left: 0 !important; padding: 0 !important; }
  .print\:hidden { display: none !important; }
}
